@function em($target, $context: 16) {
  @return ($target / $context) * 1em;
}

@import "components/fonts";
@import "components/header";
@import "components/section_2";
@import "components/section_3";
@import 'components/section_4';
@import 'components/section_5';
@import 'components/section_6';
@import 'components/footer';

@import "components/slide_to";
@import "components/icons";
@import "components/media";

section {clear: both;}

.clear {clear: both;}

.sec {
  width: 95%; //1520px
  display: block;
  margin: 0 auto;
}

.sendBtn {
  font-family: osb;
  font-size: 18px / 30px * 100%;
  background: #f2ab27 !important;
  border-bottom: 2px solid #bf610f !important;
  padding: 9px 7px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
  letter-spacing: normal;
  cursor: pointer;
}