@import "components/header";
@import "components/fonts";

.sec {
  width: 95%;
  display: block;
  margin: 0 auto;
}

.sendBtn {
  font-family: osb;
  font-size: 18px / 30px * 100%;
  background: #f2ab27;
  border-bottom: 2px solid #bf610f;
  padding: 9px 7px;
  text-align: center;
  color:#fff;
  margin-top: 10px;
  letter-spacing: normal;
  cursor: pointer;
}
