@font-face {
  font-family: "pfAgoraMedium";
  src: url("../fonts/pfAgoraMedium/pfagorasanspro-medium-webfont.eot");
  src: url("../fonts/pfAgoraMedium/pfagorasanspro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfAgoraMedium/pfagorasanspro-medium-webfont.woff") format("woff"), url("../fonts/pfAgoraMedium/pfagorasanspro-medium-webfont.ttf") format("truetype"), url("../fonts/pfAgoraMedium/pfagorasanspro-medium-webfont.svg#pf_agora_sans_promedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'osb';
  src: url("../fonts/sansBold/jno4hogh-webfont.eot");
  src: url("../fonts/sansBold/jno4hogh-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sansBold/jno4hogh-webfont.woff") format("woff"), url("../fonts/sansBold/jno4hogh-webfont.ttf") format("truetype"), url("../fonts/sansBold/jno4hogh-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: '../fonts/cuprum/cuprum';
  src: url("../fonts/cuprum/cuprum-regular-webfont.eot");
  src: url("../fonts/cuprum/cuprum-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cuprum/cuprum-regular-webfont.woff") format("woff"), url("../fonts/cuprum/cuprum-regular-webfont.ttf") format("truetype"), url("../fonts/cuprum/cuprum-regular-webfont.svg#cuprumregular") format("svg");
  font-weight: normal;
  font-style: normal; }
header {
  background: url("../images/header_bg.jpg") no-repeat;
  background-size: cover;
  border-top: 2px solid #f9a91d;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  clear: both;
  display: block; }
  header .logo {
    background: url("../images/logo.png") no-repeat left top;
    background-size: contain;
    width: 14.23%;
    height: 113px;
    margin: 34px 0 0 10px;
    display: block;
    float: left; }
  header .contacts {
    margin-top: 40px;
    float: right;
    color: #fdd96e;
    text-align: right;
    font-family: pfAgoraMedium;
    font-size: 187.5%; }
  header h1 {
    margin: 0 auto;
    clear: both;
    text-align: center;
    width: 32.23684%;
    color: #8c2804;
    text-transform: uppercase;
    font-size: 120%;
    font-family: cuprum; }
    header h1 .devider {
      background: url("../images/devider.png") repeat-x center;
      width: 53.06122%;
      margin: 0 auto;
      display: block;
      height: 20px; }
    header h1 span {
      color: #fff;
      font-size: 176.66667%; }
  header .form {
    float: left;
    display: block;
    width: 41.64474%; }
    header .form .arrow {
      background: url("../images/arrow.png") no-repeat;
      display: block;
      margin-top: 40px;
      float: left;
      width: 73px;
      height: 88px; }
    header .form p {
      font-family: cuprum;
      text-transform: uppercase;
      color: #fff;
      font-size: 176.66667%;
      letter-spacing: 2px;
      text-align: center;
      line-height: 30px; }
    header .form form {
      background: #fff;
      border-radius: 3px;
      margin-top: -12px;
      display: block;
      float: right;
      width: 80%;
      padding-bottom: 20px; }
      header .form form header {
        background: #f2ab27;
        border-radius: 3px 3px 0px 0px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: osb;
        padding: 8px 0;
        color: #fff;
        text-align: center;
        border: none;
        height: auto;
        width: 100%;
        display: block; }
      header .form form div {
        padding: 22px; }
      header .form form label {
        float: left;
        text-align: right;
        clear: both;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-right: 10px;
        width: 14.03509%;
        color: #bf610f; }
      header .form form input, header .form form textarea {
        width: 73.15789%;
        padding: 10px;
        margin-top: 10px;
        float: right;
        border: none;
        outline: none;
        color: #fff;
        background-color: #bf610f; }
      header .form form textarea {
        height: 110px; }
      header .form form .sendBtn {
        font-size: 106.66667% !important;
        font-family: osb;
        width: 78.34862% !important; }
  header #promo_nav {
    float: right;
    display: block;
    margin-top: 8.07453%;
    width: 47.10526%;
    height: auto;
    position: relative;
    text-transform: uppercase;
    font-family: cuprum;
    font-weight: normal;
    letter-spacing: 2px; }
    header #promo_nav img {
      width: 70%; }
    header #promo_nav a {
      color: #fff;
      text-decoration: none; }
    header #promo_nav .p_android {
      position: absolute;
      left: -2%;
      top: 7.73196%;
      font-size: 113.33333%; }
      header #promo_nav .p_android .p_icon {
        float: right;
        margin-top: -20px; }
    header #promo_nav .p_wp {
      position: absolute;
      right: 4%;
      top: 30.92784%; }
    header #promo_nav .p_apple {
      position: absolute;
      bottom: 7.69231%;
      left: -2%;
      font-size: 113.33333%; }
      header #promo_nav .p_apple .p_icon {
        float: right;
        margin-top: -20px; }

.section_2 {
  border-bottom: 4px solid #f2ab27;
  position: relative; }
  .section_2 hgroup {
    width: 31.64474%;
    margin-left: 8.02632%;
    margin-bottom: -20px; }
  .section_2 h3 {
    font-size: 1.5em;
    font-family: cuprum;
    color: #bf610f;
    line-height: 30px; }
    .section_2 h3 span {
      text-transform: uppercase; }
    .section_2 h3 span:last-child {
      color: #a8cb30;
      border-top: 2px solid #f2ab27; }
  .section_2 ul {
    width: 56.05263%;
    margin-left: 6.57895%;
    font-family: cuprum;
    color: #8c2804;
    float: left;
    font-size: 1.375em;
    position: relative;
    z-index: 2; }
    .section_2 ul li {
      position: relative;
      list-style: none; }
      .section_2 ul li span {
        color: #a8cb30;
        text-transform: uppercase;
        font-size: 1em; }
    .section_2 ul li:before {
      content: "-";
      position: absolute;
      left: -15px; }
  .section_2 .tabs {
    width: 41.11842%;
    display: block;
    position: absolute;
    right: 54px;
    top: 70px;
    z-index: 1; }
    .section_2 .tabs img {
      width: 100%; }
  .section_2 .clear {
    padding-top: 11.66667%; }

#slide_to {
  clear: both;
  color: #fff;
  width: 23.48684%;
  margin: 0 auto;
  margin-top: -20px;
  padding: 2px 5px;
  padding-top: 5px;
  text-align: center;
  display: block;
  height: 34px;
  text-decoration: none;
  font-size: 123.33333%;
  border: 3px solid #f1ab27;
  /* stroke */
  -moz-border-radius: 37px / 36px 36px 37px 37px;
  -webkit-border-radius: 37px / 36px 36px 37px 37px;
  border-radius: 37px / 36px 36px 37px 37px;
  /* border radius */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #fff;
  /* layer fill content */
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0 4px rgba(255, 255, 255, 0.2);
  /* inner shadow and inner glow */
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0 4px rgba(255, 255, 255, 0.2);
  /* inner shadow and inner glow */
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0 4px rgba(255, 255, 255, 0.2);
  /* inner shadow and inner glow */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M1NmYxMyIgc3RvcC1vcGFjaXR5PSIwLjgxIi8+CjxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZjFhYjI3IiBzdG9wLW9wYWNpdHk9IjAuODEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjFhYjI3IiBzdG9wLW9wYWNpdHk9IjAuODEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
  /* gradient overlay */
  background-image: -moz-linear-gradient(bottom, rgba(198, 112, 20, 0.81) 0%, rgba(242, 171, 39, 0.81) 99.07%, rgba(242, 171, 39, 0.81) 100%);
  /* gradient overlay */
  background-image: -o-linear-gradient(bottom, rgba(198, 112, 20, 0.81) 0%, rgba(242, 171, 39, 0.81) 99.07%, rgba(242, 171, 39, 0.81) 100%);
  /* gradient overlay */
  background-image: -webkit-linear-gradient(bottom, rgba(198, 112, 20, 0.81) 0%, rgba(242, 171, 39, 0.81) 99.07%, rgba(242, 171, 39, 0.81) 100%);
  /* gradient overlay */
  background-image: linear-gradient(bottom, rgba(198, 112, 20, 0.81) 0%, rgba(242, 171, 39, 0.81) 99.07%, rgba(242, 171, 39, 0.81) 100%);
  /* gradient overlay */ }

.p_icon {
  background: url("../images/p_icons.png") no-repeat;
  width: 60px;
  height: 60px;
  display: block;
  float: left; }

.i_anddroid {
  background-position: left; }

.i_wp {
  background-position: center; }

.i_apple {
  background-position: right; }

@media screen and (max-width: 1000px) {
  #promo_nav {
    display: none !important; }

  .form {
    float: left;
    margin: 0px;
    clear: both;
    width: 100% !important; }
    .form form {
      width: 100% !important; }

  .arrow {
    display: none !important; } }
@media screen and (max-width: 1365px) {
  .p_wp {
    right: 6% !important; } }
@media screen and (min-width: 1366px) {
  #promo_nav .p_wp {
    right: 8% !important; } }
.clear {
  clear: both; }

.sec {
  width: 95%;
  display: block;
  margin: 0 auto; }

.sendBtn {
  font-family: osb;
  font-size: 60%;
  background: #f2ab27 !important;
  border-bottom: 2px solid #bf610f !important;
  padding: 9px 7px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
  letter-spacing: normal;
  cursor: pointer; }
