.p_icon {
  background: url("../images/p_icons.png") no-repeat;
  width:60px;
  height:60px;
  display: block;
  float: left;
}

.i_android {
  background-position: left;
}

.i_wp {
  background-position:center;
}

.i_apple {background-position:right;}
