@media (max-width:1000px){
  #promo_nav {
    display:none !important;
  }

  .form {
      float: left;
      margin: 0px;
      clear: both;
      width:100% !important;

      form {
        width:100% !important;

        .sendBtn {
          width: 414px / 545px * 100% !important;
        }
      }

      
  }


  .arrow {display: none !important;}

  .store_download {
    margin: 0 auto;
    margin-right: (110/1520)*100% !important;
    a {
      float: left !important;
      background-position: center center !important;
      clear: both;
      margin-bottom: 10px;
      width: 100% !important;
    }
  }

}



@media (max-width:1365px) {
  .p_wp {
      right:6% !important;
  }

  .section_3 .p_icons img {margin-top: -50px !important;}




}



@media screen and (min-width:1366px) {
  #promo_nav{
    .p_wp {
        right:8% !important;
    }
  }
}
