@media (max-width:1000px){
  #promo_nav {
    display:none !important;
  }

  .form {
      float: left;
      margin: 0px;
      clear: both;
      width:100% !important;

      form {
        width:100% !important;

        .sendBtn {
          width: 414px / 545px * 100% !important;
        }
      }

  }


  .arrow {display: none !important;}

  .store_download {
    margin: 0 auto;
    margin-right: (110/1520)*100% !important;
    a {
      float: left !important;
      background-position: center center !important;
      clear: both;
      margin-bottom: 10px;
      width: 100% !important;
    }
  }

  .section_6 {
    .info_text {
      width: 100% !important;
    }
  }

}



@media (max-width:1365px) {
  .p_wp {
      right:6% !important;
  }

  .section_3 .p_icons img {margin-top: -50px !important;}


}



@media screen and (min-width:1366px) {
  #promo_nav{
    .p_wp {
        right:8% !important;
    }
  }


}

// mobile
@media screen and (max-width: 660px) {
  header {
    .logo {
      width: 90%;
    }
    h1 span:last-child {margin-left: -20px;}

    .contacts {
      .sendBtn {
        margin-bottom: 20px;
        margin-right:-5px;
      }
    }

    .form {
      form {
        .sendBtn {
          width: 100% !important;
        }
      }
    }

  }

  .section_2 {
    .sec {
      #slide_to {
        display: none;
        width: 120%;
      }
      .tabs {display:none;}

      hgroup {width:80%;}

      ul {
        width: 80%;
        li {width:100%;}
      }
    }
  }


  .section_3 {
    .p_icons {display:none;}
    .video {
      width: 100%;
      float: none;
      display:none;
      // a {
      //   width:100%;
      //   margin-left: (300/820) * 100%;
      //   margin-top: 25px;
      // }
    }
    .downloads {
      float: none;
      width: 100%;
    }

    .store_download {
      width: 100%;
      a {
        width: 100% !important;
      }
    }

  }

  .section_4 {
    .price_table {
      width: 90%;
      margin: 0 auto;
      display: block;
      float: none;
    }
    .offer {
      width: 100%;
      margin: o auto;
      margin-top: 20px;
      float: none;
    }
  }

  .section_5 {
    article div {display:none;}
    article {
      width: 100%;}
      article:before {content:"-"}
  }

  .section_6 {
    h3 {line-height: 70px;}
    .form {
      padding-left: (20 / 740) * 100%;

      form {
        .text_area {
          textarea {
            width: 90% !important;
            margin-bottom: 60px;
          }
        }

        input{
          margin-bottom: 10px;
        }

        input[type="submit"] {
          bottom: -80px;
          left: (210 / 740) * 100%;
        }
      }
    }

    .info_text {
      width: 100% !important;
      margin-top: 120px;
    }
  }


}
