.section_6 {
  clear: both;
  background: #fff;
  border-top: 12px solid #c56a12;

  h3 {
    color: #c16617;
    text-align: center;
    text-transform: uppercase;
    font-family: cuprum, sans-serif;
    font-size: em(58);
  }

  form {

  }



}
