.section_4 {
  background: #bf610f;
  padding-top: 40px;
  padding-bottom: 66px;
  font-family: cuprum;

  h2 {
    text-transform: uppercase;
    font-size: em(31);
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 80px;
    margin-top: 20px;
  }

  .price_table {
    float: left;
    width: (636/1520) *100%;
    background: #fff;
    border-radius: 6px;
    border: 6px solid #7f4106;
    padding: 0;
    margin: 0;
    margin-left: (50/1520)*100%;
    padding-bottom: 10px;

    table {
      width: 100% !important;
      color: #c56a12;
      font-size: em(30);
      text-transform: uppercase;

      span {
        color: #814206;
      }
      span:first-child {
        color: #c56a12;
        font-size: em(24, 30);
      }

    }

    h3 {
      color: #f2ab27;
      display: block;
      width: 100%;
      padding: 15px 0;
      margin-top: 0px;
      text-align:center;
      background: #9e550e;
      font-size: em(29);
      text-transform: uppercase;
    }

    tr {line-height: 30px;}

    td:first-child {
      text-align: right;
      padding-right: (50/636) * 100%;
    }

  }

  .offer {
    width: (760 / 1520) * 100%;
    text-align: center;
    font-size: em(30);
    display: block;
    margin-top: -20px;
    float: right;
    text-transform: uppercase;
    line-height: 36px;
    color: #f2d22e;
    span {color: #fff}
    span:last-child {
      background:#fff;
      color: #c56a12;
      padding: 2px 8px;
    }
  }

  .last-chance {
    clear: both;
    padding-top: 80px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: pfAgoraMedium;
    font-size: em(31);
    font-style: italic;
    text-transform: uppercase;
  }

}
