.section_3 {
  width: 100%;
  border-top: 22px solid #bf610f;
  border-bottom: 4px solid #f2ab27;

  .p_icons {
    float: left;
    a {
      background: url("../images/p_icons_bg.png") no-repeat;
      background-size: contain;
      display: block;
      width: (90/1520) * 100% !important;
      height: auto;
      position: static !important;
      float: left;

          img {
            width: 100%;
            margin: 0 auto;
            margin-top: -(90/90)*100%;
          }
    }
  }

  .video {
    background: url("../images/video_bg.png") no-repeat;
    background-size: contain;
    width: (820/1520)*100%;
    height: 274px;
    clear: both;
    margin: 36px 0 0 0;
    padding-top: 10%;
    float: left;

    a {
      display: block;
      background: url("../images/video_arrow.png") no-repeat;
      background-size: contain;
      width:(143/820)*100%;
      height: 176px;
//      height: auto;
      margin: 0 auto;
    }
  }

.downloads {
  float: right;
  width: (570/1520)*100%;
  display: block;
  margin-top: 90px;
  margin-right: (60/1520)*100%;

  a {
    background: url("../images/download_bg.png") no-repeat;
    background-size: contain;
    display: block;
    font-family:cuprum;
    color: #bf610f;
    text-transform: uppercase;
//    font-size: em(45);
    padding-top: (5/90)*100%;
    padding-bottom: (10/90)*100%;
    padding-right: 0;
    padding-left: (120/570)*100%;
    width: 80%;
    text-decoration: none;
  }
  a:last-child {
    line-height: (86/90)*100%;
    padding-top: (3/90)*100%;
    padding-bottom: (3/90)*100%;
  }
}


  .store_download {
    float: right;
    margin-right: (80/1520)*100%;
    margin-top: 30px;
    width: (560/1520)*100%;

    a {
      background:url('../images/download_apple_store_bg.png') no-repeat;
      background-size: contain;
      width: (230/560)*100%;
      background-position: center center;
      background-position: left;
      height: 65px;
      margin-left: 30px;
      display: block;
      float: left;
    }
    a:last-child {
      float: right;
      background: url("../images/download_and_store_bg.png") no-repeat;
      background-size: contain;
      background-position: left center;
    }
   }

}
